body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 0;
}

p {
  font-size: 14px;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
#description {
  text-transform: capitalize;
  font-size: 12px;
  position: relative;
  right: -10px;
  top: 30px;
}
li::first-letter {
  text-transform: capitalize;
}
h3 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
  font-weight: bold;
}
.weather-app-wrapper {
  padding: 20px;
  border: 1px solid beige;
  border-radius: 30px;
  margin: 0 auto;
  max-width: 450px;
}

.weather-temperature img {
  height: 80px;
  width: 80px;
}

.weather-temperature strong {
  font-size: 50px;
  line-height: 1;
  font-weight: 400;
  position: relative;
  top: 15px;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -42px;
  right: -60px;
}

.weather-temperature .active {
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-app-overview {
  margin-bottom: 100px;
}

.weather-forecast-wrapper {
  max-width: 500px;
  margin: 0 auto;
}
.weather-forecast {
  border: none;
  border-radius: 20px;
}

.additional-information {
  font-size: 14px;
}
.descript-info {
  font-weight: bold;
  text-align: center;
}
.value-info {
  font-weight: 500;
  text-align: center;
}

.btn-primary {
  background-color: blue;
  color: white;
}

.container {
  padding: 20px;
}
