h1 {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 0;
}

p {
  font-size: 14px;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

li::first-letter {
  text-transform: capitalize;
}
h3 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
  font-weight: bold;
}
small {
  font-size: 10px;
}
a {
  color:black;
  font-weight: bold;
}
.weather-app-wrapper {
  margin: 30px auto;
  max-width: 450px;
}
.weather-app {
  padding: 20px;
  border: 1px solid #d3cec8;
  border-radius: 30px;
  background-color: #d3cec8;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

  background-size: cover;
  background-repeat: no-repeat;
}

.weather-temperature img {
  height: 68px;
  width: 68px;
}

.weather-temperature strong {
  font-size: 40px;
  line-height: 1;
  font-weight: 400;
  position: relative;
  top: 15px;
}
.weather-temperature .units {
  display: block;
  font-size: 12px;
  position: relative;
  top: -30px;
  right: -50px;
}

.description {
  display: block;
  text-transform: capitalize;
  font-size: 10px;
  position: relative;
  top: 30px;
  left: 5px;
}
.weather-temperature .active {
  cursor: default;
}
.value-info {
  font-size: 12px;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-app-overview {
  margin-bottom: 5px;
}

.weather-forecast-wrapper {
  max-width: 500px;
  margin: 0 auto;
}
.weather-forecast {
  border: none;
  border-radius: 20px;
}

.additional-information {
  font-size: 14px;
  position: relative;
  left: -20px;
}
.descript-info {
  font-weight: bold;
  text-align: center;
}
.value-info {
  font-weight: 500;
  text-align: center;
}

.right-over li {
  font-size: 14px;
}

.btn-primary {
  background-color: #545b62;
  border-color: #545b62;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.24);
}
.btn-primary:hover {
  background-color: white;
  border-color: #545b62;
  color: black;
}
.weather-forecast {
  text-align: center;
  margin-top: 10px;
}
.weather-forecast-temperature {
  font-size: 13px;
}
.weather-forecast-date {
  font-size: 16px;
  font-weight: bold;
}
.weather-forecast-temperature-max {
  font-size: 13px;
  font-weight: bold;
}

@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:200");

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg");
  background-size: cover;
  -webkit-animation: slidein 100s;
  animation: slidein 100s;

  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;

  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

@-webkit-keyframes slidein {
  from {
    background-position: top;
    background-size: 3000px;
  }
  to {
    background-position: -100px 0px;
    background-size: 2750px;
  }
}

@keyframes slidein {
  from {
    background-position: top;
    background-size: 3000px;
  }
  to {
    background-position: -100px 0px;
    background-size: 2750px;
  }
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(75, 75, 250, 0.3);
  border-radius: 3px;
}
.center h1 {
  text-align: center;
  color: white;
  font-family: "Source Code Pro", monospace;
  text-transform: uppercase;
}
